* {
  box-sizing: border-box; }

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f7fa;
  color: #333;
  margin: 0;
  padding: 0; }
  body h1 {
    text-align: center;
    color: #4a90e2;
    margin-top: 20px; }
  body .container {
    width: 90%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    border-radius: 10px;
    border: 1px solid #dddddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
    body .container .live-recording {
      width: 70%;
      height: 100%;
      border-right: 1px solid #dddddd; }
      body .container .live-recording canvas {
        width: 100%;
        height: calc(100% - 51px);
        border-radius: 10px; }
      body .container .live-recording .controls {
        width: 100%;
        height: 50px;
        display: flex;
        padding-left: 20px;
        align-items: center;
        gap: 15px;
        border: 1px solid #dddddd;
        background-color: #f5f7fa;
        border-bottom-left-radius: 10px; }
        body .container .live-recording .controls button {
          background-color: #4a90e2;
          border: none;
          color: #fff;
          padding: 10px 15px;
          border-radius: 10px;
          cursor: pointer;
          font-size: 16px; }
          body .container .live-recording .controls button:disabled {
            background-color: #bbbbbb; }
          body .container .live-recording .controls button i {
            font-size: 18px; }
        body .container .live-recording .controls label {
          margin: 0; }
        body .container .live-recording .controls input[type='range'] {
          width: 100px; }
      body .container .live-recording video {
        width: 0;
        height: 0;
        position: absolute; }
    body .container .panel {
      width: calc(30% - 1px);
      height: 100%;
      padding: 20px; }
      body .container .panel h2 {
        text-align: center;
        color: #4a90e2; }
      body .container .panel .playback-videos {
        height: 75%;
        overflow-y: auto;
        padding: 10px;
        background-color: #f5f7fa;
        border: 1px solid #dddddd;
        border-radius: 10px; }
        body .container .panel .playback-videos p {
          text-align: center;
          color: #999; }
      body .container .panel label {
        display: block;
        width: 100%;
        padding: 15px;
        margin-top: 20px;
        text-align: center;
        font-size: 16px;
        border: 1px solid #dddddd;
        border-radius: 10px;
        background-color: #50e3c2;
        color: #fff;
        cursor: pointer; }
        body .container .panel label:hover {
          background-color: #24dcb3; }
      body .container .panel video {
        width: 100%;
        margin-top: 20px;
        border-radius: 10px; }

@media only screen and (max-width: 600px) {
  .container {
    flex-wrap: wrap !important;
    min-height: 80vh; }
    .container .live-recording {
      width: 100% !important;
      height: 50% !important;
      border-right: none !important; }
      .container .live-recording .controls {
        height: 47px !important;
        justify-content: space-around;
        padding-left: 0 !important;
        gap: 10px !important;
        border-radius: 0px !important; }
    .container .panel {
      width: 100% !important;
      height: 50% !important;
      padding-top: 0; }
      .container .panel h2 {
        margin: 5px; }
      .container .panel .playback-videos {
        height: 70% !important; }
      .container .panel label {
        margin-top: 5px !important; } }
